<f:if condition="{f:count(subject: '{urls}')} > 0">
	<f:then>
		<f:for each="{urls}" as="url">
			<tr class="db_list_normal" data-uid="{url.uid}" data-contextMenuUrl="{f:uri.action(action: 'contextMenu', arguments: '{url: \'{url.uid}\'}', additionalParams: '{ajax: 1}')}">
			<f:if condition="{url.locked}">
				<f:then><td class="uid locked" title="ID: {url.uid}"><span class="icon"></span></td></f:then>
				<f:else>
					<f:if condition="{url.type} == 1">
						<f:then>
							<td class="uid old" title="ID: {url.uid}"><span class="icon"></span></td>
						</f:then>
						<f:else>
							<td class="uid url" title="ID: {url.uid}"><span class="icon"></span></td>
						</f:else>
					</f:if>
				</f:else>
			</f:if>

			<td class="language">
				<f:if condition="{url.language}">
					<f:then>
						<f:if condition="{url.language.flag}">
							<f:then>
								<img src="/typo3/gfx/flags/{url.language.flag}.gif" width="20" height="12" alt="{url.language.title}" />
							</f:then>
							<f:else>
								{url.language.title}
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{defaultLanguage}">
							<f:if condition="{defaultLanguage.flag}">
								<f:then>
									<img src="/typo3/gfx/flags/{defaultLanguage.flag}" width="20" height="12" alt="{defaultLanguage.label}" />
								</f:then>
								<f:else>
									{defaultLanguage.label}
								</f:else>
							</f:if>
						</f:if>
					</f:else>
				</f:if>
			</td>
			<td class="path">{url.path}</td>
			<td class="parameters">{url.parameters}</td>
			<td class="domain">{url.domain.domainName}</td>
			</tr>
		</f:for>
	</f:then>
	<f:else>
		<tr>
			<td colspan="6" class="message">
		<f:translate key="message_no_results" default="No urls have been found with your filter settings!"/>
		</td>
		</tr>
	</f:else>
</f:if>
