<f:if condition="{f:count(subject: '{urls}')} > 0">
	<f:then>
		<f:for each="{urls}" as="url">
			<tr data-uid="{url.uid}" data-contextMenuUrl="{f:uri.action(action: 'contextMenu', arguments: '{url: \'{url.uid}\'}', additionalParams: '{ajax: 1}')}">
			<f:if condition="{url.locked}">
				<f:then><td class="uid icon locked" title="ID: {url.uid}"></td></f:then>
				<f:else>
					<f:if condition="{url.type} == 1">
						<f:then>
							<td class="uid icon old" title="ID: {url.uid}"></td>
						</f:then>
						<f:else>
							<td class="uid icon url" title="ID: {url.uid}"></td>
						</f:else>
					</f:if>
				</f:else>
			</f:if>

			<td class="language">
			<f:if condition="{url.language.flag}">
				<f:then>
					<img src="/typo3/gfx/flags/{url.language.flag}.gif" width="20" height="12" alt="{url.language.title}" />
				</f:then>
				<f:else>
					{url.language.title}
				</f:else>
			</f:if>
			</td>
			<td class="path">{url.path}</td>
			<td class="parameters">{url.parameters}</td>
			<td class="domain">{url.domain.domainName}</td>
			</tr>
		</f:for>
	</f:then>
	<f:else>
		<tr>
			<td colspan="6" class="message">
		<f:translate key="message_no_results" default="No urls have been found with your filter settings!"/>
		</td>
		</tr>
	</f:else>
</f:if>
