{namespace nu=Nawork\NaworkUri\ViewHelpers}
<div id="tx_naworkuri_contextMenu">
	<div class="show" data-path="{url.path}"><span class="icon"></span><label><f:translate key="label_contextmenu_show" default="Open in new window" /></label></div>
	<div class="edit" data-url="{nu:uri.module(module: 'record_edit', mode: 'edit', table: 'tx_naworkuri_uri', recordUid: url.uid, overrideReturnUrl: returnUrl)}" data-uid="{url.uid}"><span class="icon"></span><label><f:translate key="label_contextmenu_edit" default="Edit" /></label></div>
	<f:if condition="{url.locked}">
		<f:then>
			<div class="unlock" data-ajaxUrl="{f:uri.action(action: 'lockToggle', arguments: '{url: url}', additionalParams: '{ajax: 1}')}"><span class="icon"></span><label><f:translate key="label_contextmenu_unlock" default="Unlock" /></label></div>
		</f:then>
		<f:else>
			<div class="lock" data-ajaxUrl="{f:uri.action(action: 'lockToggle', arguments: '{url: url}', additionalParams: '{ajax: 1}')}"><span class="icon"></span><label><f:translate key="label_contextmenu_lock" default="Lock" /></label></div>
		</f:else>
	</f:if>
	<div class="delete" data-ajaxUrl="{f:uri.action(action: 'delete', arguments: '{url: url}', additionalParams: '{ajax: 1}')}" data-path="{url.path}"><span class="icon"></span><label><f:translate key="label_contextmenu_delete" default="Delete" /></label></div>
</div>