<f:layout name="Module" />

<f:section name="Main">
	<section id="url_module">
		<div id="filter">
			<div class="filter_option">
				<label for="domain"><f:translate key="label_filter_domain" default="Domain:" /></label>
				<select id="domain">
					<option value="-1"><f:translate key="label_filter_domain_all" default="All"/></option>
					<f:for each="{domains}" as="domain">
						<option value="{domain.uid}">{domain.domainName}</option>
					</f:for>
				</select>
			</div>
			<div class="filter_option">
				<label><f:translate key="label_filter_type" default="Type:" /></label>
				<span id="type">
					<f:form.checkbox id="type_normal" value="normal" /><label for="type_normal" class="checkbox"><f:translate key="label_filter_type_normal" default="Normal urls" /></label>
					<f:form.checkbox id="type_old" value="old" /><label for="type_old" class="checkbox"><f:translate key="label_filter_type_old" default="Old urls" /></label>
					<f:form.checkbox id="type_locked" value="locked" /><label for="type_locked" class="checkbox"><f:translate key="label_filter_type_locked" default="Locked urls" /></label>
				</span>
			</div>
			<f:if condition="{f:count(subject: '{languages}')} > 0">
				<div class="filter_option">
					<label for="language"><f:translate key="label_filter_language" default="Language:" /></label>
					<select id="language" >
						<option value="-1"><f:translate key="label_filter_language_all" default="All" /></option>
						<option value="0"><f:translate key="label_filter_language_default" default="Default" /></option>
						<f:for each="{languages}" as="language">
							<option value="{language.uid}">{language.title}</option>
						</f:for>
					</select>
				</div>
			</f:if>
			<div class="filter_option">
				<label for="label_filter_scope"><f:translate key="label_filter_scope" default="Scope:" /></label>
				<select id="scope">
					<option value="page"><f:translate key="label_filter_scope_page" default="This page" /></option>
					<option value="subtree"><f:translate key="label_filter_scope_subtree" default="This with subpages" /></option>
					<option value="global"><f:translate key="label_filter_scope_global" default="Global (whole site)" /></option>
				</select>
			</div>

			<div class="filter_option">
				<label for="path"><f:translate key="label_filter_path" default="Path:" /></label>
				<input type="text" id="path" value="" placeholder="[Filter by path]" autocomplete="off"/>
			</div>
		</div>
		<div id="table_outer">
			<div id="table_head">
				<table>
					<thead>
						<tr>
							<th class="uid fixedwidth" data-cellClassName="uid"></th>
							<th class="language fixedwidth">L</th>
							<th class="path resizeable dynamic" data-cellClassName="path">Path</th>
							<th class="parameters resizeable dynamic" data-cellClassName="parameters">Parameters</th>
							<th class="domain minwidth" data-cellClassName="domain">Domain</th>
							<th class="scrollbarFiller fixedwidth"></th>
						</tr>
					</thead>
				</table>
			</div>
			<div id="table_body">
				<table class="typo3-dblist">
					<thead>
						<tr>
							<th class="uid fixedwidth"></th>
							<th class="language fixedwidth"></th>
							<th class="path"></th>
							<th class="parameters"></th>
							<th class="domain"></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<div id="pagination">
			<a href="javascript:;" id="pagination_first" class="icon first"></a>
			<a href="javascript:;" id="pagination_previous" class="icon previous"></a>
			<a href="javascript:;" id="pagination_next" class="icon next"></a>
			<a href="javascript:;" id="pagination_last" class="icon last"></a>
			<label for="pagination_pageSize">
				<f:translate key="label_pagination_pagesize" default="URLs per page:" />
			</label>
			<select id="pagination_pageSize" autocomplete="off">
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
			<label>
				<f:translate key="label_pagination_pages" default="Showing page" />
			</label>
			<span id="pagination_pagenumber">0</span>
			<span><f:translate key="label_pagination_pages_of" default="of" /></span>
			<span id="pagination_maxpages">0</span>
			<label>
				<f:translate key="label_pagination_urls" default="Showing urls"  />
			</label>
			<span id="pagination_urlcount_from">0</span>
			<span><f:translate key="label_pagination_urls_to" default="to" /></span>
			<span id="pagination_urlcount_to">0</span>
			<span><f:translate key="label_pagination_urls_of" default="of" /></span>
			<span id="pagination_urlcount_of">0</span>
			<a href="javascript:;" id="pagination_reload" class="icon refresh"></a>
		</div>
	</section>
	<script type="text/javascript">
			<![CDATA[(function($) {
					if($.fn.UrlModule){
						$("#url_module").UrlModule({
							"mode": "urls",
							"ajaxUrl": "]]>{f:uri.action(action: 'ajaxLoadUrls', additionalParams: '{ajax: 1}')}<![CDATA[",
							"settingsUrl": "]]>{f:uri.action(action: 'updateSettings', additionalParams: '{ajax: 1}')}<![CDATA[",
							"settings": ]]><f:format.raw>{userSettings}</f:format.raw><![CDATA[,
							"errorMessage": "]]><f:translate key="message_error" default="An error occured while loading the urls, change the filter to try other settings" /><![CDATA[",
							"loadingMessage": "]]><f:translate key="message_loading" default="Loading urls... please wait..." /><![CDATA["
						});
					}
			})(jQuery)]]>
	</script>
</f:section>