{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
	<script type="application/javascript">
		<![CDATA[tx_naworkuri_labels = {
			"numberOfRecords": "]]>{f:translate(id: 'label.numberOfRecords')}<![CDATA[",
			"loadingMessage": "]]>{f:translate(id: 'label.loadingMessage')}<![CDATA["
		};]]>
	</script>
	<div class="panel">
		<div class="urlTable table" data-filter="{filter}" data-settings="{settings}" data-ajax-url="{ajaxUrl}">
			<div class="urlTable__header">
				<span class="urlTable__column urlTable__column--icon"></span>
				<span class="urlTable__column urlTable__column--icon">L</span>
				<span class="urlTable__column urlTable__column--text">Path</span>
				<span class="urlTable__column urlTable__column--text">Parameters</span>
			</div>
			<div class="urlTable__body">
				<div class="urlTable__body__inner">
					<div class="urlTable__row">
						<span class="urlTable__column urlTable__column--fullWidth">
							<f:translate id="label.loadingMessage" />
						</span>
					</div>
				</div>
			</div>
			<div class="urlTable__footer">
				<nav class="pagination-wrap">
					<ul class="pagination pagination-block">
						<li class="disabled js-paginationFirst">
							<span>
								<core:icon identifier="actions-view-paging-first" />
							</span>
						</li>
						<li class="disabled js-paginationPrevious">
							<span>
								<core:icon identifier="actions-view-paging-previous" />
							</span>
						</li>
						<li>
							<span class="numberOfRecords">Records 0 - 0</span>
						</li>
						<li>
							<span>
								Page
								<input value="0" size="3" class="form-control input-sm paginator-input" id="jumpPage-bottom" type="text" /> of <span class="pagesMax">0</span>
							</span>
						</li>
						<li class="disabled js-paginationNext">
							<span>
								<core:icon identifier="actions-view-paging-next" />
							</span>
						</li>
						<li class="disabled js-paginationLast">
							<span>
								<core:icon identifier="actions-view-paging-last" />
							</span>
						</li>
						<li>
							<span class="js-reload">
								<core:icon identifier="actions-refresh" />
							</span>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</f:section>