{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
	<script type="application/javascript">
		var tx_naworkuri_labels = {labels -> f:format.raw()};
	</script>
	<div class="panel">
		<div class="urlTable table" data-filter="{filter}" data-settings="{settings}" data-ajax-url-load="{f:uri.action(action: 'loadUrls')}" data-ajax-url-lock="{f:uri.action(action: 'lock')}" data-ajax-url-unlock="{f:uri.action(action: 'unlock')}" data-ajax-url-delete="{f:uri.action(action: 'delete')}" data-ajax-url-delete-selected="{f:uri.action(action: 'deleteSelected')}" data-module-parameter-prefix="{moduleParameterPrefix}">
			<div class="urlTable__header">
				<span class="urlTable__column urlTable__column--icon"></span>
				<span class="urlTable__column urlTable__column--icon">L</span>
				<span class="urlTable__column urlTable__column--text">
                    Path
                    <span class="inputWrapper">
                        <input type="text" class="urlTable__column__search js-pathInput" value="" />
						<span class="js-icon urlTable__column__icon isVisible">
                    		<core:icon identifier="actions-search" alternativeMarkupIdentifier="inline" />
						</span>
						<span class="js-icon urlTable__column__icon">
                    		<core:icon identifier="actions-close" alternativeMarkupIdentifier="inline" />
						</span>
                    </span>
                </span>
				<span class="urlTable__column urlTable__column--text">
                    Parameters
                    <span class="inputWrapper">
                        <input type="text" class="urlTable__column__search js-parametersInput" value="" />
						<span class="js-icon urlTable__column__icon isVisible">
                    		<core:icon identifier="actions-search" alternativeMarkupIdentifier="inline" />
						</span>
						<span class="js-icon urlTable__column__icon">
                    		<core:icon identifier="actions-close" alternativeMarkupIdentifier="inline" />
						</span>
                    </span>
                </span>
			</div>
			<div class="urlTable__body">
				<div class="urlTable__body__inner">
					<div class="urlTable__row">
						<span class="urlTable__column urlTable__column--fullWidth">
							<f:translate id="label.loadingMessage" />
						</span>
					</div>
				</div>
			</div>
			<div class="urlTable__footer">
				<nav class="pagination-wrap">
					<ul class="pagination pagination-block">
						<li class="disabled js-paginationFirst">
							<span>
								<core:icon identifier="actions-view-paging-first" />
							</span>
						</li>
						<li class="disabled js-paginationPrevious">
							<span>
								<core:icon identifier="actions-view-paging-previous" />
							</span>
						</li>
						<li>
							<span class="js-numberOfRecords">Records 0 - 0</span>
						</li>
						<li>
							<span>
								Page
								<input value="0" size="3" class="form-control input-sm paginator-input js-page" id="jumpPage-bottom" type="text" /> of <span class="js-pagesMax">0</span>
							</span>
						</li>
						<li class="disabled js-paginationNext">
							<span>
								<core:icon identifier="actions-view-paging-next" />
							</span>
						</li>
						<li class="disabled js-paginationLast">
							<span>
								<core:icon identifier="actions-view-paging-last" />
							</span>
						</li>
						<li>
							<span class="js-reload">
								<core:icon identifier="actions-refresh" />
							</span>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</f:section>