{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:if condition="{f:count(subject: '{urls}')} > 0">
	<f:then>
		<f:for each="{urls}" as="url">
			<div class="urlTable__row" data-uid="{url.uid}">
				<span class="urlTable__column urlTable__column--icon">
					<span class="js-icon">
                        <f:switch expression="{url.type}">
                            <f:case value="0">
                                <f:if condition="{url.locked}">
                                    <f:then>
                                        <core:icon identifier="tcarecords-tx_naworkuri_uri-locked" alternativeMarkupIdentifier="inline" />
                                    </f:then>
                                    <f:else>
                                        <core:icon identifier="tcarecords-tx_naworkuri_uri-default" alternativeMarkupIdentifier="inline" />
                                    </f:else>
                                </f:if>
                            </f:case>
                            <f:case value="1">
                                <core:icon identifier="tcarecords-tx_naworkuri_uri-old" alternativeMarkupIdentifier="inline" />
                            </f:case>
                        </f:switch>
                    </span>
					<f:if condition="{url.locked}">
						<f:then><td class="uid locked" title="ID: {url.uid}"><span class="icon"></span></td></f:then>
						<f:else>
							<f:if condition="{url.type} == 1">
								<f:then>
									<td class="uid old" title="ID: {url.uid}"><span class="icon"></span></td>
								</f:then>
								<f:else>
									<td class="uid url" title="ID: {url.uid}"><span class="icon"></span></td>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</span>

			<span class="urlTable__column urlTable__column--icon">
				<f:if condition="{url.language}">
					<f:then>
						<f:if condition="{url.language.flag}">
							<f:then>
								<core:icon identifier="flags-{url.language.flag}" />
							</f:then>
							<f:else>
								{url.language.uid}
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{defaultLanguage}">
							<f:if condition="{defaultLanguage.flag}">
								<f:then>
									<core:icon identifier="flags-{defaultLanguage.flag}" />
								</f:then>
								<f:else>
									{defaultLanguage.label}
								</f:else>
							</f:if>
						</f:if>
					</f:else>
				</f:if>
			</span>
			<span class="urlTable__column urlTable__column--text" title="{url.path}">{url.path}</span>
			<span class="urlTable__column urlTable__column--text" title="{url.parameters}">{url.parameters}</span>
			</div>
		</f:for>
	</f:then>
	<f:else>
		<div class="urlTable__row">
			<span class="urlTable__column urlTable__column--fullWidth">
				<f:translate key="message_no_results" default="No urls have been found with your filter settings!"/>
			</span>
		</div>
	</f:else>
</f:if>
