div#typo3-inner-docbody {
	padding: 0 10px;
}

#typo3-inner-docbody * {
	margin: 0;
	padding: 0;
}

.docheader-row2-left h1 {
	font-size: 16px;
	margin: 0;
}

#typo3-inner-docbody h2 {

}

#typo3-inner-docbody #url_module {
	overflow: hidden;
}

#typo3-inner-docbody #url_module #filter {
	margin: 10px 0;
}

#typo3-inner-docbody .filter_option {
    display: inline-block;
    margin-right: 10px;
}

#typo3-inner-docbody .filter_option label {
    font-weight: bold;
}

#typo3-inner-docbody .filter_option label.checkbox {
    font-style: italic;
    font-weight: normal;
}

#typo3-inner-docbody .filter_option input[type="text"] {
    font-style: italic;
}

#typo3-inner-docbody .filter_option input[type="checkbox"] {
    margin-left: 8px;
    margin-right: 3px;
    vertical-align: middle;
}

#typo3-inner-docbody .filter_option input[type="checkbox"] {
    margin-left: 0;
}

#typo3-inner-docbody #url_module #table_outer {
	border-bottom: 1px solid #a2aab8;
	/*width: 100%;*/
}

#typo3-inner-docbody #url_module #table_head {
	background-color: #585858;
	background-image: linear-gradient(#7F7F7F 10%, #5B5B5B 100%);
	color: #fff;
}

#typo3-inner-docbody #url_module #table_body {
	overflow-y: auto;
}

#typo3-inner-docbody #url_module table {
	border-bottom: none;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: none;
	/*width: 100%;*/
	width: auto;
}

#typo3-inner-docbody #url_module table th,
#typo3-inner-docbody #url_module table td {
	border: transparent 0px none;
	padding: 5px 3px;
	text-align: left;
	vertical-align: middle;
}

#typo3-inner-docbody #url_module #table_head table th {
	font-weight: bold;
}

#typo3-inner-docbody #url_module #table_body table th {
	padding-bottom: 0;
	padding-top: 0;
}

#typo3-inner-docbody #url_module table .scrollbarFiller {
	padding: 0;
}

#typo3-inner-docbody #url_module table .uid {
	width: 16px;
}

#typo3-inner-docbody #url_module table .language {
	width: 20px;
}

#typo3-inner-docbody #url_module table .domain {
	white-space: nowrap;
}

#typo3-inner-docbody #url_module #table_body table {
	table-layout: fixed;
}

#typo3-inner-docbody #url_module tbody {
	background-color: #fff;
}

#typo3-inner-docbody #url_module #table_head table tr th.resizeable {
	border-right: 2px solid transparent;
	padding-right: 1px;
}

#typo3-inner-docbody #url_module #table_head table tr th.resizeable:hover {
	border-right-color: #dadada;
}

#typo3-inner-docbody #url_module table .url .icon {
	background-position: -96px center;
}

#typo3-inner-docbody #url_module table .old .icon {
	background-position: -128px center;
}

#typo3-inner-docbody #url_module table .locked .icon {
	background-position: -112px center;
}

#typo3-inner-docbody #url_module table td.message {
	font-weight: bold;
	text-align: center;
}

#typo3-inner-docbody #url_module .tx_naworkuri_loadingLayer {
	background-color: #666;
	color: #eee;
	display: none;
	font-size: 2em;
	font-weight: bold;
	opacity: 0.7;
	position: absolute;
	text-align: center;
}

#typo3-inner-docbody #url_module .tx_naworkuri_loadingLayer p {
	margin-top: 100px;
}

#typo3-inner-docbody #url_module .icon {
	background-image: url('../Icons/sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}

#typo3-inner-docbody #url_module #pagination {
	margin-bottom: 5px;
}

#typo3-inner-docbody #url_module #pagination span {
	vertical-align: middle;
}

#typo3-inner-docbody #url_module #pagination .first {
}

#typo3-inner-docbody #url_module #pagination .previous {
	background-position: -16px center;
}

#typo3-inner-docbody #url_module #pagination .next {
	background-position: -32px center;
}

#typo3-inner-docbody #url_module #pagination .last {
	background-position: -48px center;
}

#typo3-inner-docbody #url_module #pagination .refresh {
	background-position: -64px center;
}

#tx_naworkuri_contextMenu {
	background-color: #fff;
	box-shadow: 0 1px 5px 3px #999;
	left: 0;
	top: 0;
	position: absolute;
}

#tx_naworkuri_contextMenu div {
	border-bottom: 1px solid #999;
	color: #555;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 3px;
	padding: 7px 5px 5px 3px;
}

#tx_naworkuri_contextMenu div:hover {
	background-color: #ddd;
}

#tx_naworkuri_contextMenu div:last-child {
	border-bottom: none;
}

#typo3-inner-docbody #url_module #tx_naworkuri_contextMenu .icon {
	margin-right: 2px;
}

#typo3-inner-docbody #url_module #tx_naworkuri_contextMenu .show .icon {
	background-position: -144px center;
}

#typo3-inner-docbody #url_module #tx_naworkuri_contextMenu .edit .icon {
	background-position: -192px center;
}

#typo3-inner-docbody #url_module #tx_naworkuri_contextMenu .lock .icon {
	background-position: -80px center;
}

#typo3-inner-docbody #url_module #tx_naworkuri_contextMenu .unlock .icon {
	background-position: -176px center;
}

#typo3-inner-docbody #url_module #tx_naworkuri_contextMenu .delete .icon {
	background-position: -161px center;
}