html, body, .module-body, .panel, .table-fit {
  height: 100%; }

.module {
  overflow: hidden; }

.form-control__checkbox-container label {
  font-weight: normal; }
  .form-control__checkbox-container label input[type="checkbox"] {
    margin: 0 5px 0 0; }

.panel {
  box-shadow: none; }

.urlTable {
  display: flex;
  flex-direction: column;
  max-height: 100%; }
  .urlTable__header {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    font-weight: bold;
    background-color: #ededed;
    border: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
    .urlTable__header .urlTable__column--text {
      display: flex;
      justify-content: space-between; }
  .urlTable__body {
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: auto;
    border: solid #ccc;
    border-width: 0 1px; }
  .urlTable__footer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ccc;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  .urlTable__row {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #cccccc; }
    .urlTable__row:first-child {
      border-top: none; }
    .urlTable__row.isSelected {
      background-color: #ddd;
      font-style: italic; }
    .urlTable__row:hover {
      background-color: #ededed; }
  .urlTable__column {
    padding: 6px;
    line-height: 1.5; }
    .urlTable__column__search {
      background-color: transparent;
      padding: 0;
      border: solid #8b8b8b;
      border-width: 0 0 1px 0;
      flex-grow: 1;
      display: none;
      margin-bottom: -1px;
      max-width: 350px; }
      .urlTable__column__search.isVisible {
        display: inline; }
    .urlTable__column__icon {
      display: none; }
      .urlTable__column__icon.isVisible {
        display: inline; }
    .urlTable__column--icon {
      flex: 0 0 22px;
      padding-right: 0; }
    .urlTable__column--text {
      flex: 1 1 100%;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis; }
      .urlTable__column--text .inputWrapper {
        flex-grow: 1;
        padding: 0 6px;
        display: flex;
        justify-content: flex-end; }
    .urlTable__column--fullWidth {
      text-align: center;
      width: 100%; }
    .urlTable__column .icon {
      cursor: pointer;
      flex-shrink: 0;
      display: block; }
      .urlTable__column .icon.icon-state-active {
        color: #8b8b8b; }

.pagination-wrap {
  padding: 6px; }
